@import "font";
@import "color";

body {
    background: $veryDarkBlue;
    min-height: 100%;
}

.App {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.mb-1 {
    margin-bottom: 1rem;
}