@import "./color";

.button-panel {
    .row.margin {
        margin-bottom: 1rem;
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
    }
}

.box {
    background: $darkBlue;
    border-radius: 0.5rem;
    color: $white;
    display: inline-block;
    margin: 0 auto;
    max-width: 330px;
    padding: 2rem;

    &.center {
        text-align: center;
    }
}